<section class="about">
    <h1>Twitterアプリケーション</h1>
    <p>これはRuby on Railsのプログラミング演習として作成したWebアプリケーションです。</p>
</section>
<section class="images container-fluid">
    <div class="row">
        <div class="image col-md-4 col-sm-12">
            <img src="<%= asset_path "sengai-1.jpg" %>">
        </div>
        <div class="image col-md-4 col-sm-12">
            <img src="<%= asset_path "sengai-2.jpg" %>">
        </div>
        <div class="image col-md-4 col-sm-12">
            <img src="<%= asset_path "sengai-3.jpg" %>">
        </div>
    </div>
</section>
