// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    width: 100%;
    background-color: #ffffff;
    height: 54px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
    .navbar-brand {
        color: #14171a;
        &:hover {
            color: #ccc;
        }
    }
    .navbar-nav > li > a {
        color: #14171a;
        &:hover, &:focus {
            color: #ccc;
        }
    }
    .navbar-nav > .open > a {
        background-color: transparent;
        color: white;
        &:hover, &:focus {
            background-color: transparent;
            color: #ccc;
        }
    }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
        color: white;
    }
}
.navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
        background-color: transparent;
    }
}
}

.about {
    color: #333;
    padding: 80px;
}

.images {
    .image {
        padding-bottom: 5px;
    }
}

footer {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0 10px 0;
    color: white;
    margin: auto;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f5f8fa;
    text-align: center;
}
